:root {
  --clr-lightblue: #dbfbff;
  --clr-blue: #214fff;
  --clr-darkblue: #1532a5;
  --clr-blackblue: #112884;
  --clr-lightgrey: #e7e7e8;
  --clr-grey: #c7c7c7;
  --clr-darkgrey: #99999b;
  --clr-greyblue: #3c4858;
  --clr-lightorange: #f3af42;
  --clr-orange: #f09b12;
  --clr-yellow: #ffd700;
  --clr-green: #32cd32;
  --clr-lightgreenblue: #a7d2cd;
  --clr-greenblue: #44baae;
  --ff-primary: HurmeGeometricSans2, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
  color: var(--clr-greyblue);
}

/* section: general */
section {
  text-align: center;
  padding: 20px 20px;
}
section > h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--clr-greyblue);
}
.grey-bg {
  background-color: rgb(245, 245, 245);
}
.blue-header {
  color: var(--clr-blue);
}
.grey-header {
  color: #616367;
}
@media (min-width: 768px) {
  section {
    padding: 40px 50px;
  }
}

/* banner */
.banner {
  display: none;
}
@media (min-width: 992px) {
  .banner {
    display: block;
  }
  #aus-icon {
    width: 20px;
    color: var(--clr-blue);
  }
  .banner > .navbar-nav {
    background-color: var(--clr-lightgrey);
    font-size: 12px;
    font-weight: bold;
  }
  .banner > .navbar-nav > li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  .banner > .navbar-nav > li > i {
    color: var(--clr-blue);
    padding-right: 15px;
    font-size: 18px;
  }
  .banner > .navbar-nav > li > img {
    margin-right: 15px;
    width: 15px;
  }
}

/* heading */
.heading {
  background-color: var(--clr-blue);
  display: none;
  align-items: center;
  padding: 15px 0px;
}
.heading-link:hover {
  text-decoration-line: underline;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
#good-thing-logo {
  width: 230px;
  margin-left: 70px;
}
#search-section {
  display: flex;
  align-items: center;
  padding-right: 70px;
}
#google-logo {
  width: 0px;
  margin-right: 5px;
}
#google-review {
  display: flex;
  align-items: center;
}
#google-review-cnt > span {
  font-weight: bolder;
  min-width: 90px;
  margin-right: 5px;
}
#google-review-cnt {
  display: flex;
  flex-direction: column;
}
#stars {
  font-size: 15px;
  color: var(--clr-yellow);
}
#review-cnt {
  font-size: 13px;
  color: white;
}
.input-group {
  position: relative;
  max-width: 400px;
}
.input-group > input {
  border: 2px solid var(--clr-grey);
  border-radius: 2px !important;
  height: 52px;
}
.input-group > input::placeholder {
  color: var(--clr-darkgrey);
  font-style: italic;
}
#search-btn {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: var(--clr-lightgreenblue);
  color: var(--clr-greyblue);
  font-weight: bolder;
  border-radius: 2px;
  height: 44px;
  z-index: 3;
}
#search-btn:hover {
  background-color: var(--clr-greenblue);
}
@media (min-width: 768px) {
  #google-logo {
    width: 45px;
  }
}

/* navigation bar - small screen */
.sm-banner {
  position: relative;
}
.sm-menu {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 10000000;
  overflow-y: scroll;
}
.sm-menu > .input-group {
  margin: auto;
  padding: 10px;
}
.sm-menu > .input-group > button {
  right: 16px;
  top: 14px;
  position: absolute;
  background-color: var(--clr-lightgreenblue);
  color: var(--clr-greyblue);
  font-weight: bolder;
  border-radius: 2px;
  height: 44px;
  z-index: 3;
}
.sm-banner > .hamburger-menu-open {
  font-size: 25px;
  position: absolute;
  top: 25px;
  left: 25px;
  visibility: visible;
  transition: all ease 0.1s;
}
.sm-banner > .hamburger-menu-close {
  font-size: 30px;
  position: absolute;
  top: 22px;
  left: 27px;
  visibility: hidden;
  transition: all ease 0.1s;
}
.sm-banner > img {
  width: 200px;
  display: block;
  margin: auto;
  padding: 15px 0px 0px 0px;
}
.sm-review {
  text-align: center;
  display: block;
}
.sm-review > span {
  font-size: 14px;
  color: white;
}
#sm-review-stars {
  color: var(--clr-yellow);
}
.sm-screen-version {
  background-color: var(--clr-blue);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
}
.sm-screen-version li {
  font-weight: bolder;
  border-bottom: 1px solid var(--clr-darkblue);
}
.sm-screen-version li > p {
  color: white;
  padding: 10px 30px;
  margin-bottom: 0px;
}
.sm-screen-version i {
  color: white;
}
.sm-dropdown {
  position: relative;
}
.sm-dropdown > i {
  position: absolute;
  top: 8px;
}
.sm-dropdown-content {
  display: none;
  background-color: var(--clr-darkblue);
}
.sm-dropdown-content > a {
  color: white;
  display: block;
  padding: 10px 30px;
  border-bottom: 1px solid var(--clr-blackblue);
}
.sm-dropdown-content > a:hover {
  text-decoration: none;
}
/* navigation bar - large screen*/
.lg-screen-version {
  display: none;
}
.navbar-expand-lg {
  padding: 0rem 0rem;
}
.navbar-nav {
  background-color: var(--clr-darkgrey);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.nav-item {
  padding: 0px 15px;
  height: 53px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
}
.nav-item:nth-last-child(-n + 2) {
  border-right: 1px solid rgba(255, 255, 255, 0);
}
.nav-item:hover {
  background-color: var(--clr-darkblue);
}
.nav-item:hover > .nav-link {
  color: white;
}
#btn-nav-item:hover {
  background-color: var(--clr-darkgrey);
}
.nav-link {
  font-size: 13px;
  padding: 10px 30px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
.nav-link > i {
  color: white;
  padding-right: 12px;
}
.nav-link > span {
  line-height: 16px;
  color: white;
}
.bigger-icon {
  font-size: 20px;
}
.normal-icon {
  font-size: 18px;
}
#green-icon {
  color: lightgreen;
}
@media (min-width: 992px) {
  .lg-screen-version {
    display: block;
  }
  .sm-screen-version {
    display: none;
  }
  .heading {
    display: flex;
  }
}

/* dropdown */
.dropdown {
  position: relative;
  transition-property: visibility, opacity;
}
.dropdown > .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: var(--clr-darkblue);
  width: fit-content;
  z-index: 100;
}
.dropdown > .dropdown-content > a {
  margin: auto;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.fa-star {
  color: var(--clr-yellow);
  font-size: 12px;
  padding: 0px 7px;
}
.dropdown > .dropdown-content > a:hover {
  background-color: var(--clr-blackblue);
}
.dropdown:hover > .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
}
.little-right-arr {
  font-size: 8px;
  padding-right: 8px;
  color: white;
}
.all-about-dropdown > a {
  border: 1px solid var(--clr-blackblue);
  width: 500px;
  height: 60px;
}
.other-dropdown > a {
  width: 225px;
  height: 30px;
  padding: 15px 10px;
}
#btn-nav-item > .contact-dropdown {
  padding: 15px 20px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  top: calc(100% + 8px);
  left: -50%;
  color: var(--clr-greyblue);
  font-weight: bolder;
  font-size: 14px;
  box-shadow: 0px 0px 10px 8px rgba(100, 100, 100, 0.2);
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid white;
  position: absolute;
  top: -9px;
  right: 25%;
}
#btn-nav-item > .contact-dropdown > p {
  margin-bottom: 0px;
}
.contact-dropdown > .contact-btn {
  margin: auto;
  width: 200px;
  margin-bottom: 25px;
}
#phone-number {
  color: var(--clr-blue);
  background-color: white;
  font-size: 17px;
  margin: 0px 0px 15px 0px;
}
#phone-number:hover {
  text-decoration: underline;
}

/* carousel */
#carouselExampleIndicators {
  margin-top: 75px;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgba(60, 72, 88, 0.5);
}
.carousel-indicators {
  bottom: -13px;
}
.carousel-indicators .active {
  background-color: var(--clr-blue);
}
.carousel-btn {
  border-radius: 20px;
  padding: 7px 20px;
  color: white;
  border: 0px solid transparent;
  font-weight: bolder;
  font-size: 14px;
}
.carousel-caption > h1 {
  font-weight: bolder;
}
#caro-btn-port {
  background: #1853af;
}
#caro-btn-prod {
  background: rgba(0, 0, 0, 0.3);
}
#caro-btn-port:hover,
#caro-btn-prod:hover {
  background: rgba(0, 0, 0, 0.2);
}
.caro-port > div > h1 {
  color: white;
  font-weight: bolder;
  font-size: 30px;
}
.caro-prod > div > h1 {
  color: #515092;
  font-weight: bolder;
  font-size: 30px;
}
.carousel-item {
  height: 450px;
}
.banner-caro img {
  position: absolute;
  top: 15%;
}
@media (min-width: 992px) {
  #carouselExampleIndicators {
    margin-top: 0px;
  }
}
@media (min-width: 768px) {
  .banner-caro img {
    position: static;
    top: 15%;
  }
  .carousel-item {
    position: relative;
    height: fit-content;
  }
  .caro-port,
  .caro-prod {
    position: absolute;
    bottom: 30%;
    left: 10%;
    text-align: left;
  }
  .caro-port > div > h1 {
    font-size: 50px;
  }
  .caro-prod > div > h1 {
    font-size: 50px;
  }
}
.contact-btn {
  background-color: var(--clr-orange);
  padding: 7px 12px;
  border-radius: 22px;
  color: white;
  font-weight: bolder;
  border: 0px;
  font-size: 14px;
}
.contact-btn:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
    var(--clr-orange);
}

/* section: trust brand */
.trust-brand > h1 {
  font-size: 20px;
  font-weight: bolder;
}
.trust-brand > h2 {
  font-size: 17px;
  font-weight: bolder;
}
.trust-brand > p {
  font-size: 18px;
  width: 100%;
  line-height: 1.5em;
  margin: auto;
}
.brand-img-div {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.brand-img-div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-img-div > div > img {
  height: 30%;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .trust-brand > h1 {
    font-size: 30px;
    padding: 5px 0px;
  }
  .trust-brand > h2 {
    font-size: 20px;
  }
  .trust-brand > p {
    font-size: 18px;
    width: 80%;
    padding: 5px 35px;
    line-height: 1.5em;
  }
}

/* section latest products */
.latest-product > button {
  background-color: var(--clr-lightorange);
  padding: 7px 50px;
  border-radius: 22px;
  color: white;
  font-weight: bolder;
  border: 0px;
  font-size: 14px;
}
.latest-product > button:hover {
  background-color: var(--clr-orange);
}

/* section latest product */
.latest-product {
  padding-left: 0px;
  padding-right: 0px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.buttons > button {
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  font-size: 12px;
}
.buttons > button:hover {
  background-color: #c9e990;
}
.product-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow-x: scroll;
  background-color: rgb(245, 245, 245);
  padding: 30px 30px 0px 30px;
  height: fit-content;
  margin-bottom: 30px;
}
.product {
  height: 300px;
  max-width: 300px;
}
.product-title {
  font-weight: bolder;
  margin-bottom: 0px;
}
.product-from {
  color: var(--clr-darkgrey);
}
.price {
  color: var(--clr-blue);
  font-weight: bolder;
}
.product > img {
  width: 250px;
  height: 250px;
  margin: auto;
}
@media (min-width: 768px) {
  .buttons {
    width: 80%;
    margin: auto;
  }
  .buttons > button {
    padding: 10px 40px;
    font-size: 15px;
  }
}

/* section best choice */
.best-choice {
  background-color: var(--clr-lightblue);
  padding-top: 80px;
}
.reason-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reason-title > i {
  color: white;
  background: #033f87;
  padding: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #033f87;
  border-radius: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasons-wrapper {
  padding-top: 25px;
}
.reason-info h1 {
  font-weight: bold;
  font-size: 30px;
  color: var(--clr-greyblue);
}
.reason-title > h1 {
  padding-left: 15px;
}
.reason-desc {
  font-weight: bold;
  font-size: 14px;
  padding-top: 5px;
}
.best-choice img {
  width: 80%;
}

/* section brands overview */
.brands-overview > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}
.brands-overview > div > img {
  max-width: 80%;
  opacity: 0.5;
  max-height: 30px;
}

/* section review overview */
.review {
  border: 1px solid #ededed;
  background-color: white;
  height: 250px;
  overflow-y: scroll;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
}
.review-info {
  display: flex;
  justify-content: space-evenly;
}
.review > p {
  margin: 0px;
}
.review > img {
  width: 25px;
  position: absolute;
  right: 5px;
}
#review-stars {
  font-size: 30px;
  padding: 0px 5px;
}
.name {
  color: #427fed;
  font-weight: bolder;
}
.single-review-star {
  color: darkorange;
  font-size: 25px;
  line-height: 20px;
}
.single-review-date {
  color: #999999;
  font-size: 13px;
  padding-bottom: 10px;
}
.single-review-comment {
  color: #777777;
  font-size: 14px;
  line-height: 17px;
}

/* section brandable product */
.product-overview .row {
  width: 100%;
  margin: 0px;
}
.img-div {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.img-div:hover {
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}
.img-div > p,
.img-div > span {
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.img-div > p {
  display: block;
  margin: 0px;
  font-size: 30px;
}
.img-div > span {
  display: none;
  font-size: 15px;
  text-align: center;
}
.img-div:hover > p {
  display: none;
}
.img-div:hover > span {
  display: block;
}
.left-top-prod,
.right-top-prod,
.left-bottom-prod,
.right-bottom-prod {
  width: 100%;
  height: 400px;
  padding: 0px;
}
.right-top-prod .img-div,
.left-bottom-prod .img-div {
  height: 200px;
}
.product-overview button {
  background-color: var(--clr-blue);
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 22px;
  border: 0px;
  transition: 0.2s;
  margin-top: 5px;
  width: 100%;
}
.product-overview button:hover {
  background-color: var(--clr-green);
}
@media (min-width: 768px) {
  .product-overview button {
    width: 40%;
    margin-top: 30px;
  }
  .product-overview div:nth-child(1) {
    text-align: right;
  }
  .product-overview div:nth-child(2) {
    text-align: left;
  }
}

/* section testimonial  */
#carouselTestimonials > .carousel-indicators {
  bottom: -70px;
}
#carouselTestimonials .carousel-item {
  height: fit-content;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  padding: 15px 15px 0px 15px;
}
.description > p {
  color: #646268;
}

/* section merch store */
.merch-store {
  background: linear-gradient(210deg, #bbe7fc 2%, #a659df);
  margin-top: 50px;
}
.merch-store button {
  display: block;
  background-color: var(--clr-blue);
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 22px;
  margin: 10px 0px;
}
.merch-store button:hover {
  background-color: #002cd4;
}
.merch-store-left > h1 {
  text-align: left;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}
.merch-store-left > h2 {
  text-align: left;
  color: white;
  font-size: 20px;
}
.merch-store-left > h2 > span {
  font-weight: bolder;
  color: white;
}
.merch-store-left > p {
  text-align: left;
  color: white;
}
.merch-store-right > img {
  width: 100%;
}

/* section blog */
.blog-block {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow-x: scroll;
  background-color: rgb(245, 245, 245);
  padding: 30px 30px 0px 30px;
  height: fit-content;
  margin-bottom: 30px;
}
.blog-info {
  max-width: 350px;
  width: 80%;
  padding: 10px;
}
.blog-sec {
  display: block;
  width: 100%;
}
.blog-img {
  height: 155px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.blog-img > img {
  border: 1px solid transparent;
  border-radius: 8px;
  width: 350px;
}
.blog-title {
  color: var(--clr-greyblue);
  font-weight: bolder;
  margin-bottom: 5px;
  width: 90%;
  text-align: left;
}
.blog-date {
  color: #646268;
  opacity: 0.7;
  width: 90%;
  text-align: left;
}
@media (min-width: 768px) {
  .blog-info {
    padding: 0px;
  }
}

/* section contact */
.contact {
  margin-bottom: 50px;
}
.contact-cnt-sec > .contact-cnt,
.contact-icon,
.contact-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-cnt-sec {
  margin-left: -13px;
  margin-right: -13px;
}
.contact-detail {
  margin-top: 15px;
}
.contact-icon-circle {
  background-color: var(--clr-blue);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--clr-blue);
}
.contact-icon-circle > i {
  font-size: 40px;
  color: white;
}
.contact-detail:hover .with-fontawesome {
  background-color: white;
  cursor: pointer;
}
.contact-detail:hover .contact-icon-circle > i {
  color: var(--clr-blue);
}
.contact-icon-circle > img {
  width: 55%;
}
.contact-desc {
  color: var(--clr-blue);
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  padding: 0px;
}

/* section FAQ */
.FAQ {
  padding-top: 60px;
  padding-bottom: 60px;
}
.FAQ p {
  text-align: left;
}
.question {
  background: white;
  padding: 10px 15px;
  margin: 15px 0px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}
.fa-angle-down {
  color: var(--clr-blue);
  font-weight: bolder;
  position: absolute;
  right: 15px;
  transition: all 0.5s ease;
}
.question > p {
  color: var(--clr-blue);
  font-weight: bold;
  display: flex;
  margin-bottom: 0px;
  font-size: 18px;
}
.answer {
  text-align: left;
  padding: 15px;
  display: none;
}

/* section message */
.message {
  background: var(--clr-darkgrey);
  text-align: left;
}
.message img {
  width: 250px;
  padding: 0px 30px 20px 30px;
}
.link > p {
  font-weight: bolder;
  margin: 0px;
}
.link > p,
.link > a {
  display: block;
  width: fit-content;
  color: white;
  font-size: 14px;
  padding: 3px 0px;
}
.link > a:hover {
  color: var(--clr-blue);
  text-decoration: none;
}
.form button {
  padding: 4px 50px;
  border: 0px;
  background-color: #616367;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
}
.form > p {
  margin: 0px 5px;
}
.form {
  padding: 0px;
}
.form > .input-box {
  margin: 1px 0px;
  width: 100%;
  border: 1px solid var(--clr-darkgrey);
}
.form .input-box input {
  padding: 8px;
  border: 0px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  border: 3px solid var(--clr-darkgrey);
}
.form > .row {
  width: 100%;
}
.form > .row > .input-box {
  padding: 0px;
  width: 100%;
  margin: 1px 0px;
}
.form button:hover {
  background-color: var(--clr-blue);
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .link {
    align-items: start;
  }
}

/* footer */
footer {
  margin: auto;
  text-align: center;
  color: var(--clr-greyblue);
  font-size: 12px;
}
